/template_project/output/
/template_project/export/
/node-storage/
/.las2peer/
/tmp/
/log/
/template_project/log/
/lib/
/etc/ivy/ivy.jar
/service/
/out/
/.idea/
*.iml
.DS_Store
/.settings/
/junitvmwatcher*.properties
/junit*.properties
/etc/startup/
*.secret
archiva_credentials.xml
.classpath
.project
.settings

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
readerbench/hs_err*
readerbench/hs_err_pid3880.log
readerbench/hs_err_pid9640.log
readerbench/hs_err_pid10256.log
readerbench/hs_err_pid10468.log
readerbench/hs_err_pid11020.log
readerbench/hs_err_pid11556.log
readerbench/hs_err_pid12048.log
readerbench/hs_err_pid12792.log
readerbench/hs_err_pid13364.log
readerbench/hs_err_pid13756.log
readerbench/hs_err_pid14224.log
readerbench/hs_err_pid14976.log
readerbench/hs_err_pid15868.log
readerbench/hs_err_pid16288.log
readerbench/hs_err_pid17044.log
readerbench/hs_err_pid17764.log
readerbench/hs_err_pid18632.log
readerbench/hs_err_pid18888.log
readerbench/hs_err_pid20368.log
